@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 2.5rem;
  /* background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url('./assets/images/bgImage.png');
  overflow-x: hidden;
  background-size: cover; 
  background-repeat: no-repeat;
  /* @apply overflow-x-hidden; */
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  @apply !text-base;
}
label{
  @apply !font-medium
}

.ant-menu-submenu-arrow{
  @apply hidden
}

.dashboard-search .ant-input, .dashboard-search .ant-btn{
  @apply !bg-darkBlue !text-offWhite !transition-none border-0 outline-none
}
.dashboard-search .ant-btn{
  @apply border-l-2
}
.dashboard-search .ant-input:hover, .dashboard-search .ant-input:focus{
  @apply bg-darkBlue text-offWhite !outline-none !border-none !shadow-none
}
.dashboard-search .ant-btn:hover, .dashboard-search .ant-btn:focus{
  @apply bg-darkBlue text-offWhite !outline-none !border-none !shadow-none
}
.dashboard-search .ant-input::placeholder{
  @apply text-offWhite
}
.dashboard-tab-icon svg{
  @apply !text-4xl 
}
.dashboard-tab-icon{
  @apply flex justify-center items-center
}

.duty-tab-icon svg, .icon svg {
  @apply !text-2xl
}

.icon svg{
  @apply font-semibold
}

/* styles.css or any other CSS file */
.ant-table-thead > tr > th {
  @apply !bg-darkBlue !text-offWhite border-2 border-darkBlue
}

.ant-table, .ant-table-tbody > tr > td {
  @apply border-0 border-darkBlue
}

.horizontal-form .ant-form-item-label, .horizontal-form .ant-form-item-control {
  @apply !flex-none
}

.horizontal-form .ant-form-item {
  @apply mb-3 md:mb-6
}

.horizontal-form .ant-form-item-label{
  @apply w-[40%] text-left text-balance !h-max overflow-auto
}

.horizontal-form .ant-form-item-control{
  @apply w-[60%]
}

.responsive-table .table-column {
  word-wrap: break-word; /* Allows long words to break and wrap onto the next line */
  white-space: normal;   /* Allows text to wrap */
}

.responsive-table {
  width: 100%;
}

.checkbox-group .ant-checkbox-input, .checkbox-group .ant-checkbox-inner {
  @apply !w-6 !h-6
}

.checkbox-group, .checkbox-group label{
  @apply gap-2
}
.checkbox-group label{
  @apply border-b-2 w-full pb-1
}